@import "tailwindcss";

@source "../../../public/*.html";
@source "../../helpers/**/*.rb";
@source "../**/*.js";
@source "../../views/**/*";

@plugin "@iconify/tailwind4" {
  prefixes: ph;
  scale: 1.5;
}

@plugin "daisyui" {
  themes:
    cupcake --default,
    dracula --preferslight;
}
