{
  "plugins": [
    "@prettier/plugin-ruby",
    "@4az/prettier-plugin-html-erb",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 120,
  "semi": false,
  "bracketSpacing": false
}
