<div class="mx-auto">
  <% if Current.user.present? %>
    <ul class="menu menu-lg menu-horizontal bg-base-200 rounded-box my-2">
      <li>
        <a> <%= icon(:player_play) %> Home </a>
      </li>
      <li>
        <a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a><%= icon(:user) %> Профиль</a>
      </li>
    </ul>
  <% else %>
    <div class="h-10"></div>
  <% end %>
</div>
