<ul class="menu menu-lg w-full">
  <% menu.each do |menu_item| %>
    <li>
      <%= link_to menu_item[:link] do %>
        <%= phosphor_icon menu_item[:icon], style: :duotone, width: 24 %>
        <%= menu_item[:label] %>
      <% end %>
    </li>
  <% end %>
</ul>
