<div class="text-3xl">Hello Pasha !</div>

<%= 100.times do %>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam, doloremque eum fugit illo illum iusto nulla
    perferendis repudiandae sapiente sequi sit, tenetur ullam unde vitae. Aliquid doloribus in nisi?
  </p>
<% end %>
