<!DOCTYPE html>
<html lang="ru" data-theme="light" xmlns="http://www.w3.org/1999/html">
  <%= render partial: "shared/head" %>

  <body>
    <div class="bg-base-100 drawer md:drawer-open mx-auto max-w-[100rem]">
      <input id="drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <div class="sticky top-0 z-30 print:hidden"><%= render partial: "shared/navbar" %></div>
        <div class="relative mx-auto max-w-[100vw] px-6 pb-16 xl:pe-2"><%= yield %></div>
      </div>
      <div class="drawer-side z-40">
        <label for="drawer" class="drawer-overlay" aria-label="Close menu"></label>
        <aside class="bg-base-100 min-h-screen w-48">
          <div class="bg-base-100/90 navbar sticky top-0 z-20 hidden items-center gap-2 px-4 py-0 md:flex">
            <div class="text-3xl">Clean Way</div>
          </div>
          <%= render partial: "shared/menu" %>
        </aside>
      </div>
    </div>
  </body>
</html>
