<!DOCTYPE html>
<html lang="ru" data-theme="cupcake" xmlns="http://www.w3.org/1999/html">
  <%= render partial: "shared/head" %>

  <body>
    <main class="mx-auto w-full px-4 md:w-2xl lg:w-4xl"><%= yield %></main>

    <%= render partial: "shared/flash" %>
  </body>
</html>
